@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  max-width: 25ch;
  margin-block: 3rem;
  font-weight: 700;
}

h2,
h3 {
  max-width: 35ch;
  margin-block: 1.5rem;
  font-weight: 700;
}

p {
  margin-block: 1rem;
  max-width: clamp(40ch, 50%, 65ch);
}

details {
  max-width: 600px;
  margin-inline: auto;
}

details > summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;
}

details > summary::after {
  content: ">";
}

details[open] > summary::after {
  content: ">";
  rotate: 90deg;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
